
.Registration, .Login {
    text-align: center;
  }
  
  .registration, .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
  }
  
  input {
    margin: 0 auto;
    width: 250px;
    height: auto;
  }

  h1 {
    margin: 25px;
  }

  label {
    color: black;
  }
  
  